<div class="contact-actions-wrapper">
    <div class="contact-actions">
        <div class="contact-action add-destination"><div class="icon"></div></div>
        <%  if ( !this.scenic.config.disableChat ) { %>
            <%  if ( connected ) { %>
            <div class="contact-action talk-destination"><div class="icon"></div></div>
            <% } else {%>
            <div class="contact-action talk-destination disconnected"><div class="icon"></div></div>
            <% } %>
        <% } %>
        <div class="contact-action edit-contact"><div class="icon"></div></div>
    </div>
</div>
<div class="contact-info">
    <div class="contact-name"><%=name%></div>
    <div class="contact-uri"><%=uri%></div>
    <div class="contact-status"><%=status%></div>
    <!-- <div class="contact-status-text"><%=status_text%></div> -->
</div>