<div class="contact-info">
    <div class="checkbox-block">
        <div class="checkbox-title">Do not Bother</div>
        <input id="checkboxBlock"
               name="checkboxBlock"
               class="checkbox <%= notBother ? 'checked' : 'unchecked' %>"
               type="checkbox"
               autofocus="autofocus"
               value="<%=notBother%>"<% if( notBother ){ %> checked="checked"<% } %> >
        <label class="checkbox" for="checkboxBlock"></label>
    </div>
    <% if ( chatConnected ){ %>
    <div class="active"></div>
    <% } %>
    <input type="text" id="alias" class="contact-name" value="<%=name%>">
    <div class="contact-uri"><%=uri%></div>
    <div class="contact-status"><%=status%></div>
    <!-- <input type="text" id="status" class="contact-status-text" value="<%=status_text%>"> -->
</div>
