<div class="controls">
    <div class="info"><span class="class"><%=property.label%></span><span class="name"><%=quiddity.id%></span></div>
    <div class="actions">
        <div class="action remove"
             title="Remove Property" data-tooltip="Remove this control property"
             data-i18n="[title]Remove Property;[data-tooltip]Remove this control property">
            <div class="icon"></div>
        </div>
    </div>
</div>