<% if ( !fullscreen ) { %>
    <div class="menu-bar"></div>
<% } %>
<div class="page-content"></div>
<% if ( fullscreen ) { %>
<div class="fullscreen on"><div class="icon"></div></div>
<% } else { %>
<div class="fullscreen off"><div class="icon"></div></div>
<% } %>