<div class="page-content">
    <div class="switch-title" data-i18n>Click to connect a scene</div>
    <div class="switch-scenes">
        <% scenes.each( function( scene ) { %>
        <div class="switch <% if ( scene.get('properties').get('active') == true ) {%> active <% } %>">
            <div class="buttonProperty" >
                <div class="buttonLabel" id="<%=scene.id%>" data-i18n><%=scene.get('properties').get('name')%></div>
            </div>
        </div>
        <% }); %>
    </div>
</div>