<% if ( !disableSourcesMenu ) { %>
<div class="menu source"
     title="Source List" data-tooltip="Select a source to add from this list"
     data-i18n="[title]Source List;[data-tooltip]Select a source to add from this list">
    <div class="button" data-i18n>Sources</div>
</div>
<% }; %>
<% if ( !disableDestinationsMenu ) { %>
<div class="menu destination sink">
    <div class="button" data-i18n>Destinations</div>
</div>
<% }; %>
<!--<div class="menu destination contact"
     title="Add Contact Destination" data-tooltip="Add a contact as a destination to the board"
     data-i18n="[title]Add Contact Destination;[data-tooltip]Add a contact as a destination to the board">
    <div class="button" data-i18n>Contacts</div>
</div>

<div class="menu destination rtp"
     title="Add RTP Destination" data-tooltip="Add an RTP destination to the board"
     data-i18n="[title]Add RTP Destination;[data-tooltip]Add an RTP destination to the board">
    <div class="button" data-i18n>RTP Destination</div>
</div>-->

<% if ( customMenus.length > 0 ) { %>
    <% _.each(customMenus, function(menu) { %>
    <div class="menu customMenu">
        <div class="button" id="<%=menu.label%>" data-i18n><%=menu.label%></div>
    </div>
    <% }); %>
<% } %>

<div class="filter categories">
    <div class="button" id="categories" data-i18n>Categories</div>
</div>

<div class="sceneToggle"></div>