<div class="activation">
    <div class="label">
        <label for="started" data-i18n="">Started</label>
        <div class="description" data-i18n="">Start/stop the scene</div>
    </div>
    <div class="sceneCheckbox">
        <input id="checkboxScene"
               name="checkboxScene"
               class="checkbox <%= started ? 'checked' : 'unchecked' %>"
               type="checkbox"
               autofocus="autofocus"
               value="<%=started%>"<% if(started){ %> checked="checked"<% } %> >
        <label class="checkbox" for="checkboxScene"></label>
    </div>
</div>