<% scenes.each( function( scene ) { %>
<div class="menu customMenu <% if ( scene.get('properties').get('select') == true ) {%> select <% } %>">
    <div class="buttonProperty" >
        <% if ( scene.get( 'properties' ).get('active') ){ %>
            <div class="active" id="<%=scene.id%>"></div>
        <% } %>
        <div class="rename" data-18n>
        <% if ( editName && scene.get('properties').get('select') == true ) { %>
            <input class="inputSceneName" ondblclick="this.select();" name="inputName" type="text" placeholder="Name" data-i18n="[placeholder]Name" value="<%=scene.get('properties').get('name')%>">
        <% } else { %>
            <div class="buttonLabel" id="<%=scene.id%>" data-i18n><%=scene.get('properties').get('name')%></div>
        <% } %>
        </div>

        <!--<div class="buttonLabel" id="<%=scene.id%>" data-i18n><%=scene.get('properties').get('name')%></div>-->
        <% if (scene.id != 'defaultScene' ) {%>
        <div class="delete" id="<%=scene.id%>"></div>
        <% } %>
    </div>
</div>
<% }); %>
<div class="menu customMenu">
    <div class="buttonProperty" >
        <div class="add"></div>
    </div>
</div>