<div class="classInfo">
    <div class="className" data-i18n><%= className %></div>
    <!--<div class="classCategory"><%= classCategory %></div>-->
    <div class="classDescription" data-i18n><%= classDescription %></div>
    <div class="property-started bool">
        <div class="info">
            <label for="<%=id%>" data-i18n><%=label%></label>
            <div class="description" data-i18n><%=description%></div>
        </div>
        <div class="field"></div>
    </div>
</div>
<div class="data-container">
    <div class="properties-container"></div>
    <div class="methods-container"></div>
    <% if ( advanced ) { %>
    <pre class="tree-container"><%=tree%></pre>
    <% } %>
</div>