<div class="sub-menu">
    <div class="overlay"></div>
    <div class="content">
        <% _.each(groups, function(items, group){ %>
        <% if ( group != 'noGroup' ) { %>
        <div class="group" data-i18n><%=group%></div>
        <% } %>
        <div class="items">
            <% _.each(items, function(item) { %>
            <a  class="<%=item.type%> item"  
                label="<%=label%>" 
                data-submenu="<%=group%>" 
                data-id="<%=item.id%>" 
                data-group="<%=item.group%>" 
                title="<%=item.title%>" 
                data-tooltip="<%=item.tooltip%>" data-i18n><%=item.label%></a>
            <% }); %>
        </div>
        <% }); %>
    </div>
</div>