<div class="actions-menu">
    <div class="overlay"></div>
    <div class="content">
        <div class="items">
            <% if ( typeof edit !== "undefined" && edit ) { %>
                <a  class="item edit"
                    label="edit"
                    title="Edit"
                    data-i18n="[title]Edit;[data-tooltip]Edit this source's properties"
                    data-tooltip="Edit this source's properties"><div data-i18n>Edit</div></a>
            <% } %>
            <% if ( typeof call !== "undefined" && call.show ) { %>
                <a  <% if ( call.disabled ) { %> class="item disabled call"<% } else { %> class="item call"<% } %>  
                    label="call" 
                    title="Call Contact"
                    data-i18n="[title]Call Contact;[data-tooltip]Call this contact and start sending connected streams"
                    data-tooltip="Call this contact and start sending connected streams"><div data-i18n>Call</div></a>
            <% } %>
            <% if ( typeof hangup !== "undefined" && hangup ) { %>
                <a  class="item hangup"  
                    label="Hang Up" 
                    title="Hang Up"
                    data-i18n="[title]Hang Up;[data-tooltip]Hang up and stop sending the connected streams"
                    data-tooltip="Hang up and stop sending the connected streams"><div data-i18n>Hang Up</div></a>
            <% } %>
            <% if ( typeof remove !== "undefined" && remove ) { %>
                <a  class="item remove"  
                    label="remove"
                    title="Remove Contact Destination" 
                    data-i18n="[title]Remove Contact Destination;[data-tooltip]Remove this contact destination from the board"
                    data-tooltip="Remove this contact destination from the board"><div data-i18n>Remove</div></a>
            <% } %>
        </div>
    </div>
</div>