<div class="controls noscrollH">
    <div class="info-byte-rate noscrollH"></div>
    <div class="info"><span class="name"><%=shortName%></span></div>
    <div class="actions">
        <div class="action more"
             title="Shmdata Info" data-tooltip="Click to view information about this shmdata"
             data-i18n="[title]Shmdata Info;[data-tooltip]Click to view information about this shmdata">
            <div class="icon"></div>
        </div>
    </div>
    <div class="preview">
        <% if ( hasThumbnail ) { %>
        <div class="thumbnail"
             title="Preview" data-tooltip="Preview thumbnail, click for a larger preview"
             data-i18n="[title]Preview;[data-tooltip]Preview thumbnail, click for a larger preview">
            <img src=""/>
        </div>
        <% } %>
    </div>
</div>
<div class="connections-container">
    <div class="sink connections"></div>
    <div class="contact connections"></div>
    <div class="rtp connections"></div>
</div>