<% if ( args.length ) { %>
<label data-i18n><%=name%></label>
<div class="description" data-i18n><%=description%></div>
<div class="arguments-container"></div>
<a class="btn invoke" id="btn-<%=id%>" data-i18n>Invoke</a>
<% } else { %>
<a class="btn invoke no-args" id="btn-<%=id%>" title="<%=name%>" data-tooltip="<%=description%>" data-i18n="[title]<%=name%>;[data-tooltip]<%=description%>"><%=name%></a>
<% } %>