<label for="quiddityType" data-i18n>Choose a quiddity type</label>
<input type="text" id="quiddityType" name="quiddityType" data-i18n="[placeholder]Type" placeholder="Type" value="" autofocus/>
<label for="quiddityName" data-i18n>Choose a name, a default name will be given if empty</label>
<input type="text" id="quiddityName" name="quiddityName" data-i18n="[placeholder]Name" placeholder="Name" value="" autofocus/>
<div id="create" class="btn btn-success" data-i18n>Create</div>
<div id="cancel" class="btn cancel" data-i18n>Cancel</div>
