<div class="description"><%= description %></div>
<label for="quiddityName" data-i18n>Choose a name, a default name will be given if empty</label>
<input type="text" id="quiddityName" name="quiddityName" data-i18n="[placeholder]Name" placeholder="Name" value="" autofocus/>
<% if (devices.length > 0) { %>
    <label for="device" data-i18n>Choose a device</label>
    <select id="device" name="device">
        <% _.each(devices, function(device) { %>
            <option value="<%=device.value%>"><%=device.name%></option>
        <% }) %>
    </select>
<% } %>
<div id="create" class="btn btn-success" data-i18n>Create</div>
<div id="cancel" class="btn cancel" data-i18n>Cancel</div>
