<label for="name" data-i18n>Client name</label>
<input type="text" id="name" class="name" data-i18n="[placeholder]Name" placeholder="Name" value="<%=name%>" autofocus/>

<label for="host" data-i18n>Client host</label>
<input type="text" id="host" class="host" data-i18n="[placeholder]Host" placeholder="Host" value="<%=host_name%>"/>

<label for="port" data-i18n>SOAP port</label>
<input type="text" id="port" class="port" data-i18n="[placeholder]Port" placeholder="Port" value="<%=port%>"/>

<div id="update" class="btn btn-success" data-i18n>Update</div>
<div id="cancel" class="btn cancel" data-i18n>Cancel</div>