<div class="edit">
<% if ( advanced ) { %>
	<div class="title"><span data-i18n>Edit</span>&nbsp;<%=name%></div>
<% } else {%>
	<% if ( !editName ) { %>
		<div class="title rename-title"><span data-i18n>Edit</span>&nbsp;<%=name%></div>
		<% if ( expand ) { %>
			<div class="expand"><div class="icon"></div></div>
		<% } %>
	<% } else { %>
		<div class="title">
			<input class="inputName" name="inputName" type="text"  placeholder="Name" data-i18n="[placeholder]Name" value="<%=name%>">
		</div>
	<% } %>
<% } %>
</div>
<div class="classInfo">
    <div class="className" data-i18n><%= className %></div>
    <!--<div class="classCategory"><%= classCategory %></div>-->
    <div class="classDescription" data-i18n><%= classDescription %></div>
    <div class="property-started bool">
		<div class="info">
		    <label for="<%=id%>" data-i18n><%=label%></label>
		    <div class="description" data-i18n><%=description%></div>
		</div>
		<div class="field"></div>
	</div>
</div>
<div class="data-container">
	<div class="properties-container"></div>
	<div class="methods-container"></div>
	<% if ( advanced ) { %>
	<pre class="tree-container"><%=tree%></pre>
	<% } %>
</div>
