<div class="logo"><img srcset="/assets/images/scenic-logo@2x.png 2x" src="/assets/images/scenic-logo.png" title="Scenic"/></div>
<div class="message"><span data-i18n>Scenic server has closed!</span></div>