<div class="network info">
    <div class="label" data-i18n>Network</div>
    <div class="content"></div>
</div>
<div class="memory info">
    <div class="label" data-i18n>Memory</div>
    <div class="content"></div>
</div>
<div class="cpu info">
    <div class="label" data-i18n>CPU</div>
    <div class="content"></div>
</div>