<div class="action" data-i18n="[title]Add a source;[data-tooltip]Create your first source" title="Add a source" data-tooltip="Create your first source">
	<% if ( !disableSourcesMenu ) { %>
    	<span class="label" data-i18n>Add source</span>
    <% } %>
</div>