<div class="controls actions-source">
    <% if ( startable ) { %>  
        <div class="action power power-source<% if ( started ) {%> on<% } %>"
             title="Power" data-tooltip="Start or stop this source"
             data-i18n="[title]Power;[data-tooltip]Start or stop this source">
            <div class="icon">
                <svg version="1.1" width="27.766px" height="28.893px" >
                    <path  d="M12.902,15.146c0.189,0.188,0.41,0.337,0.659,0.445c0.255,0.109,0.527,0.166,0.811,0.166
                        c0.576,0,1.099-0.209,1.51-0.605c0.42-0.403,0.642-0.922,0.642-1.496V2.087c0-0.579-0.225-1.095-0.647-1.495
                        c-0.611-0.576-1.534-0.762-2.317-0.423c-0.241,0.104-0.458,0.249-0.646,0.426c-0.193,0.185-0.348,0.407-0.46,0.665
                        c-0.11,0.254-0.165,0.533-0.165,0.827v11.569c0,0.293,0.055,0.57,0.166,0.832C12.562,14.734,12.712,14.956,12.902,15.146z
                         M27.384,11.795c-0.252-0.941-0.576-1.804-0.961-2.566c-0.381-0.75-0.805-1.428-1.26-2.013c-0.436-0.558-0.843-1.048-1.156-1.386
                        l-0.148-0.203c-0.378-0.394-0.85-0.613-1.403-0.654L22.3,4.967c-0.516,0-0.994,0.197-1.371,0.562
                        c-0.206,0.189-0.374,0.41-0.495,0.652c-0.124,0.248-0.196,0.514-0.215,0.786c-0.017,0.257,0.017,0.524,0.098,0.786
                        c0.086,0.28,0.235,0.533,0.438,0.754l0.938,1.065c0.293,0.347,0.574,0.776,0.839,1.271c0.259,0.484,0.482,1.071,0.666,1.739
                        c0.178,0.66,0.267,1.449,0.267,2.345c0,0.91-0.115,1.804-0.342,2.65c-0.229,0.85-0.554,1.652-0.968,2.385
                        c-0.41,0.729-0.916,1.406-1.498,2.017c-0.577,0.604-1.229,1.126-1.933,1.552c-0.703,0.426-1.472,0.764-2.286,1
                        c-1.624,0.471-3.457,0.471-5.077,0c-0.817-0.236-1.591-0.574-2.299-1c-0.708-0.427-1.359-0.949-1.938-1.552
                        c-0.581-0.61-1.087-1.288-1.497-2.017c-0.416-0.732-0.74-1.533-0.968-2.385c-0.229-0.847-0.343-1.74-0.343-2.65
                        c0-0.887,0.105-1.668,0.315-2.32c0.217-0.674,0.477-1.266,0.778-1.764C5.715,10.34,6.037,9.91,6.365,9.566l1.036-1.074
                        c0.206-0.207,0.359-0.449,0.456-0.719c0.095-0.268,0.13-0.545,0.104-0.832C7.935,6.676,7.859,6.42,7.743,6.188
                        C7.621,5.942,7.455,5.721,7.248,5.531C7.032,5.333,6.786,5.185,6.517,5.092c-0.233-0.08-0.47-0.121-0.77-0.121H5.736
                        C5.461,4.979,5.193,5.042,4.938,5.163C4.699,5.274,4.482,5.428,4.292,5.617L4.134,5.854C3.787,6.244,3.398,6.69,2.966,7.19
                        c-0.492,0.571-0.963,1.247-1.4,2.005c-0.438,0.76-0.811,1.625-1.107,2.569C0.154,12.727,0,13.826,0,15.025
                        c0,1.266,0.169,2.506,0.499,3.691c0.334,1.178,0.806,2.291,1.405,3.307c0.598,1.015,1.326,1.958,2.167,2.803
                        c0.847,0.85,1.792,1.582,2.812,2.172c1.021,0.596,2.138,1.064,3.318,1.395c1.185,0.332,2.43,0.5,3.696,0.5
                        c1.269,0,2.51-0.168,3.692-0.5c1.173-0.33,2.286-0.799,3.308-1.393c1.026-0.596,1.971-1.328,2.812-2.174
                        c0.84-0.845,1.57-1.789,2.167-2.803c0.604-1.021,1.072-2.135,1.398-3.311c0.325-1.182,0.49-2.42,0.49-3.688
                        C27.766,13.84,27.638,12.752,27.384,11.795z"/>
                </svg>
            </div>
        </div>
    <% } %>
    <div class="info edit"
            title="Edit" data-tooltip="Edit this source's properties"
            data-i18n="[title]Edit;[data-tooltip]Edit this source's properties">

        <% if ( !editName ) { %>
        <span class="name"><%=name%></span>
        <span class="class"><%=classDescription.name%></span>
        <% } else { %>
        <div class="title">
            <input class="inputName" name="inputName" type="text"  placeholder="Name" data-i18n="[placeholder]Name" value="<%=name%>">
        </div>
        <% } %>

    </div>
    <% if ( !readOnly ) { %>
    <div class="action more-action"
         title="More" data-tooltip="More action"
         data-i18n="[title]More;[data-tooltip]More actions on this source">
        <div class="icon"></div>
    </div>
    <% } %>
</div>
<div class="source-children"></div>