<div class="modal information">
    <div class="dialog">
        <div class="message"><%=message%></div>
        <div class="dialog-footer">
            <div class="btn-group">
                <a class="btn close" data-val="true" data-i18n>Close</a>
            </div>
        </div>
    </div>
</div>