<section class="self"></section>
<% if ( !groupDiscussion ) { %>
<section class="contacts">
	<div class="title-list" data-i18n>Contacts List</div>
	<div class="authorized-contacts contact-container"></div>
	<div class="title-list" data-i18n>Unauthorized Contacts</div>
	<div class="unauthorized-contacts contact-container"></div>
</section>
<div class="controls">
    <div class="actions">
        <% if ( !this.scenic.config.disableChat ) { %>
        <div class="action group"><div class="icon"></div><div class="label" data-i18n>Create Group Discussion</div></div>
        <% } %>
        <div class="action add"><div class="icon"></div><div class="label" data-i18n>Add Contact</div></div>
        <div class="action logout"><div class="icon"></div><div class="label" data-i18n>Disconnect</div></div>
    </div>
</div>
<% } else if ( !this.scenic.config.disableChat ) { %>
<section class="contacts">
    <div class="title-list" data-i18n>Choose contact to create a group :</div>
    <div class="group-contacts contact-container"></div>
</section>
<div class="controls">
    <div class="actions">
        <div class="action create"><div class="icon"></div><div class="label" data-i18n>Create Group</div></div>
        <div class="action close"><div class="icon"></div><div class="label" data-i18n>Close</div></div>
    </div>
</div>
<% } %>