<div class="field">
    <label for="sipUsername" data-i18n>Username</label>
    <input id="sipUsername" name="sipUsername" type="text" placeholder="Username" data-i18n="[placeholder]Username" value="<%=user%>" autofocus>
</div>
<div class="field">
    <label for="sipPassword" data-i18n>Password</label>
    <input id="sipPassword" name="sipPassword" type="password" placeholder="Password" data-i18n="[placeholder]Password" value="<% if ( tmpPassword ) {%><%=tmpPassword%><%} %>" >
</div>
<% if ( showTurnOption ) { %>
		<div class="infoCheckbox">
		    <label for="checkboxTurn" data-i18n>Same login for TURN Server</label>
		</div>
		<div class="fieldCheckbox">
            <input id="checkboxTurn"
                   name="checkboxTurn"
                   class="checkbox <%= sameLogin ? 'checked' : 'unchecked' %>"
                   type="checkbox"
                   autofocus="autofocus"
                   value="<%=sameLogin%>"<% if(sameLogin){ %> checked="checked"<% } %> >
            <label class="checkbox" for="checkboxTurn"></label>
		</div>
		<% if ( !sameLogin ) { %>
			<div class="field" >
			    <label for="turnUser" data-i18n>TURN Username</label>
			    <input id="turnUser" name="turnUser" type="text" placeholder="Username" data-i18n="[placeholder]Username" value="<%=turnUser%>">
			</div>
			<div class="field" >
			    <label for="turnPassword" data-i18n>TURN Password</label>
			    <input id="turnPassword" name="turnPassword" type="password" placeholder="Password" data-i18n="[placeholder]Password">
			</div>
		<% } %>
<% } %>
<% if ( error ) { %>
<div class="alert alert-error"><%=error%></div>
<% } %>

<div id="sipLogin" class="btn btn-info" data-i18n>Login</div>
<div id="sipAdvanced" class="btn" data-i18n>Advanced</div>