
    .chat.window-panel {
      left: $sidebarWidth + 12px;
      bottom: 12px;
      z-index: 21;


      /* Messages */

      .chatArea {
        height: 100%;
        padding-bottom: 60px;
      }

      .messages {
        height: 95%;
        margin: 0;
        overflow-y: auto;
        padding: 10px 20px 10px 20px;

        .message.typing .messageBody {
          color: gray;
        }
        .content {
          display: flex;
          flex-direction: column;
          .username {
            padding-top: 2px;
            font-size: 1.4em;
            color: #d1d1d1;
          }
          .message {
            padding-left: 5px;
            font-size: 1.4em;
          }
        }
      }
      /* Input */

      .inputMessage {
        bottom: 0;
        left: 0;
        outline: none;
        padding-left: 10px;
        position: absolute;
        font-size: 1.5em;
        outline: none;
        margin: 10px;
        @include border-radius(5px);
        height: 35px;
        width: 95%;
        background: $backgroundColorDark;
        border: none;
        color: $textColorBrighter;
        &:focus {
          border: lighten($backgroundColorDark, 15%) solid 1px;
        }
      }

    }
