.connection-closed, .shutdown {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  top: 30%;
  position: relative;

  .logo {
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .message {
    text-align: center;
    color: $textColor;
    font-size: 2em;
    font-weight: 300;
    margin-top: 1em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  }
}