#scenic {
  display: none;
  height: 100%;
  overflow: hidden;
  .interface {
    height: 100%;
    overflow: hidden;
  }
}



.alert {
  background: rgba(0,0,0,0.5);
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1em;
  color: $yellow;

  &.alert-danger, &.alert-error {
    color: $red;
  }

  &.alert-warning {
    color: $orange;
  }

  &.alert-info {
    color: $blue;
  }

  &.alert-success {
    color: $green;
  }
}

.tooltip {
  display: flex;
  z-index: 20;
  position: absolute;
  left: $sidebarWidth;
  top: auto;
  bottom: 0;

  .inspector-closed & {
    right: $sideMenuWidth;
  }
  .inspector-opened & {
    right: $inspectorWidth + $sideMenuWidth;
  }

  background: $backgroundColorDarkish;
  color: $textColorBrighter;
  font-size: 1em;
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.5s, right 0.25s ease-in;

  .title {
    font-weight: bold;
    padding: 1em;
    background: $backgroundColorDarker;
  }

  .content {
    padding: 1em;
  }

  &.visible {
    opacity: 1;
  }
}